page-travel-tips {
  #tips-list ul {
    margin-top: 30px;
    padding: 0px 15px;
    text-justify: distribute-all-lines;
  }
  #tips-list ul li {
    list-style-type: circle;
    margin: 10px 0px;
    text-align: justify;
  }
}
