<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <img src="assets/imgs/logo.png" class="logo-namoa" />
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-grid class="title-grid">
      <ion-row>
        <ion-col col-9 class="col-plan-title">
          <h5 class="plan-title">{{travelPlan.title}} - Programação</h5>
        </ion-col>
        <ion-col col-1 class="col-plan-btn">
          <button ion-button clear color="namoa-color" (click)="sharePlanWhatsapp()">
            <ion-icon name="logo-whatsapp"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-1 class="col-plan-btn">
          <button ion-button clear color="namoa-color" (click)="editPlan()">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-1 class="col-plan-btn">
          <button ion-button clear color="namoa-color" (click)="deletePlan()">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="tradesPlanToday.length > 0">
      <ion-card *ngFor="let item of tradesPlanToday" class="day-item">
        <ion-card-header class="card-header">
          Hoje ({{item.date | date:"dd/MM"}})
        </ion-card-header>
        <ion-list>
          <ion-item *ngFor="let trade of item.tt" class="trade-item" class="item-text-wrap">
            <ion-label item-content>
              <p>Cidade: {{trade.city}}</p>
              <p>Trade: {{trade.trade}}</p>
              <p>Categoria: {{trade.category}}</p>
              <p *ngIf="item.tt.length > 1">Orçamento: {{trade.avgPrice | currency:"BRL"}}</p>
            </ion-label>
            <div item-end class="btn-container">
              <button ion-button small clear class="btn-side" color="namoa-color" (click)="openModal(item.date, trade.trade)">
                <ion-icon name="star-outline"></ion-icon>
              </button>
              <button ion-button small clear class="btn-side" color="namoa-color">
                <ion-icon name="checkmark-circle"></ion-icon>
              </button>
            </div>
          </ion-item>
        </ion-list>
        <hr class="divider">
        <p item-end class="orcamento-dia">
          Orçamento do dia: {{formatter.format(getOrcamento(item.tt))}}</p>
      </ion-card>
      <hr class="item-divider">
    </div>
    <div *ngIf="tradesPlanNextDays.length > 0">
      <h5>Próximos Dias</h5>
        <ion-card *ngFor="let item of tradesPlanNextDays" class="day-item">
          <ion-card-header class="card-header">
            Dia {{item.date | date:"dd/MM"}}
          </ion-card-header>
          <ion-list>
            <ion-item *ngFor="let trade of item.tt" class="trade-item" class="item-text-wrap">
              <ion-label item-content>
                <p>Cidade: {{trade.city}}</p>
                <p>Trade: {{trade.trade}}</p>
                <p>Categoria: {{trade.category}}</p>
                <p *ngIf="item.tt.length > 1">Orçamento: {{trade.avgPrice | currency:"BRL"}}</p>
              </ion-label>
              <div item-end class="btn-container">
                <button ion-button small clear class="btn-side" color="namoa-color" (click)="openModal(item.date, trade.trade)">
                  <ion-icon name="star-outline"></ion-icon>
                </button>
                <button ion-button small clear class="btn-side" color="namoa-color">
                  <ion-icon name="checkmark-circle"></ion-icon>
                </button>
              </div>
            </ion-item>
          </ion-list>
          <hr class="divider">
          <p item-end class="orcamento-dia">
            Orçamento do dia: {{formatter.format(getOrcamento(item.tt))}}</p>
        </ion-card>
        <hr class="item-divider">
      </div>
      <div *ngIf="tradesPlanPrevDays.length > 0">
          <h5>Dias Anteriores</h5>
            <ion-card *ngFor="let item of tradesPlanPrevDays" class="day-item">
              <ion-card-header class="card-header">
                Dia {{item.date | date:"dd/MM"}}
              </ion-card-header>
              <ion-list>
                <ion-item *ngFor="let trade of item.tt" class="trade-item" class="item-text-wrap">
                  <ion-label item-content>
                    <p>Cidade: {{trade.city}}</p>
                    <p>Trade: {{trade.trade}}</p>
                    <p>Categoria: {{trade.category}}</p>
                    <p *ngIf="item.tt.length > 1">Orçamento: {{trade.avgPrice | currency:"BRL"}}</p>
                  </ion-label>
                  <div item-end class="btn-container">
                    <button ion-button small clear class="btn-side" color="namoa-color" (click)="openModal(item.date, trade.trade)">
                      <ion-icon name="star-outline"></ion-icon>
                    </button>
                    <button ion-button small clear class="btn-side" color="namoa-color">
                      <ion-icon name="checkmark-circle"></ion-icon>
                    </button>
                  </div>
                </ion-item>
              </ion-list>
              <hr class="divider">
              <p item-end class="orcamento-dia">
                Orçamento do dia: {{formatter.format(getOrcamento(item.tt))}}</p>
            </ion-card>
          </div>

  </ion-list>
  <p>Orçamento total: {{formatter.format(orcamentoTotal)}}</p>
</ion-content>
