<!--
  Generated template for the PlanStep2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PLANSTEP2' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h4>{{formTitle}}</h4>
    <form
    (ngSubmit)="addTrade()"
    [formGroup]="step2Form">
    <ion-item-group inset class="trade-info">
      <ion-item>
        <ion-label>{{ 'ESTADO' | translate }}</ion-label>
        <ion-select formControlName="estado" (ionChange)="getCidades($event);">
          <ion-option *ngFor="let e of estados" value="{{e.sigla_estado}}" required>
              {{e.nome_estado}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item
        *ngIf="step2Form.controls['estado'].valid">
        <ion-label>{{ 'CIDADE' | translate }}</ion-label>
          <ion-select text-wrap="inherit" formControlName="city">
            <ion-option text-wrap *ngFor="let sugestao of optionSugestao" value="{{sugestao.cidade}}" disabled ="{{ sugestao.valor == '-1' }}" required>{{ 'SUGESTÃO' | translate }}: {{sugestao.cidade}}</ion-option>
            <ion-option *ngFor="let c of cidades" value="{{c.nome_cidade}}" required>
              {{c.nome_cidade}}
            </ion-option>
          </ion-select>
      </ion-item>

      <ion-item
        *ngIf="step2Form.controls['city'].valid">
          <ion-label>{{ 'CATEGORIA' | translate }}</ion-label>
          <ion-select formControlName="categoryType" (ionChange)="getCategoria($event);" id="tpCategoria" name="tpCategoria">
            <ion-option *ngFor="let t of tpCategoria" value="{{t.id}}" required>
                {{t.descricao}}
            </ion-option>
          </ion-select>
      </ion-item>

      <ion-item
      *ngIf="step2Form.controls['categoryType'].valid">
          <ion-label>{{ 'SUBCATEGORIA' | translate }}</ion-label>
          <ion-select formControlName="category" id="categoria" name="categoria" (ionChange)="getTrade($event);">
              <ion-option *ngFor="let c of categoria" value="{{c.id}}" required>
                {{c.descricao}}
              </ion-option>
          </ion-select>
        </ion-item>


        <ion-item
        *ngIf="step2Form.controls['category'].valid">
            <ion-label>{{ 'TRADE' | translate }}</ion-label>
            <ion-select text-wrap="inherit" formControlName="trade" id="trade" name="trade" (ionChange)="verificaTrade($event);" required>
              <ion-option *ngFor="let sugestaoTrade of resultTrade" value="{{ sugestaoTrade.descricao }}" disabled ="{{ sugestaoTrade.id == '-1' }}"  required>
                {{ 'SUGESTÃO' | translate }}: {{ sugestaoTrade.descricao }}
              </ion-option>
              <ion-option disabled value="Restaurante Amado" disabled ="{{ true }}" required>{{ 'PATROCINADO' | translate }}: Não há trade patrocinado para essa subcategoria nesta cidade. Seja o primeiro.</ion-option>
              <ion-option *ngFor="let t of trade" value="{{ t.descricao }}" required>
                {{t.descricao}}
              </ion-option>

              <ion-option value="outros" required>
                Outros
              </ion-option>

          </ion-select>
          </ion-item>

          <ion-item *ngIf="ver_outros===1">
            <ion-label floating>Outros</ion-label>
            <ion-input type="text" formControlName="outros"></ion-input>
          </ion-item>

          <ion-item *ngIf="ver_outros===1">
            <ion-label floating>Valor Médio</ion-label>
            <ion-input type="number" formControlName="valor_medio"></ion-input>
          </ion-item>

          <ion-item
            *ngIf="step2Form.controls['trade'].valid">
            <ion-label>{{ 'DATA DE INÍCIO' | translate }}</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY"
            [min]="minDate"
            [max]="tp.endDateTrip"
            (ionChange)="dtInicioChange()"
            formControlName="startDateTrader"
            required
            ></ion-datetime>
          </ion-item>
          <ion-item
            *ngIf="step2Form.controls['startDateTrader'].valid">
            <ion-label>{{ 'DATA FINAL' | translate }}</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY"
            [min]="minEndDate"
            [max]="tp.endDateTrip"
            formControlName="endDateTrader"
            required
            [disabled]="!step2Form.get('startDateTrader').value"
            ></ion-datetime>
          </ion-item>

          <button
          ion-button
          id="addTrade"
          type="submit"
          class="submit-btn"
          bottom
          color="namoa-color"
          outline
          end
          icon-start
          [disabled]="!step2Form.valid"
          >
          <ion-icon name="add-circle"></ion-icon>
          {{ 'ADICIONAR TRADE' | translate }}
        </button>
      </ion-item-group>
    </form>
  <hr>
    <h4>{{ 'Trades' | translate }}</h4>
    <ng-template [ngIf]="tradesList.length > 0">
      <ion-item
      *ngFor="let item of tradesList; let i = index"
      [attr.data-index]="i"
      class="ion-item-trades"
      >
          <ion-grid>
            <ion-row>
              <ion-col col-11>
                <h4 class="trade-title">{{item.trade}}</h4>
              </ion-col>
              <ion-col col-1>
                  <button
                  ion-button
                  clear
                  color="namoa-color"
                  small
                  class="trash-icon">
                    <ion-icon
                    name="trash"
                    (click)="removeTrade($event, i)"></ion-icon>
                  </button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-md-6>
                <p>{{ 'CATEGORIA' | translate }}: {{visualizarCategoria(item.categoryType)}}</p>
              </ion-col>
              <ion-col col-md-6>
                <p class="text-right">{{item.startDateTrader | date:'dd/MM'}} a {{item.endDateTrader | date:'dd/MM'}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p class="text-right">{{ 'ORÇAMENTO (DIA)' | translate }}: {{(item.avgPrice | currency: "BRL").toString().replace('.',',')}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>
    </ng-template>
    <ng-template #noTrades [ngIf]="tradesList.length == 0">
      <p>{{ 'SEM TRADES CADASTRADOS.' | translate }}</p>
    </ng-template>
    <div class="buttons">
      <ion-buttons end>
          <button
          ion-button
          icon-start
          bottom
          color="namoa-color"
          id="anterior"
          (click)="returnStep1()"
          outline
          class="submit-btn"
          type="button"
          >
          <ion-icon name="arrow-dropleft"></ion-icon>
          {{ 'ANTERIOR' | translate }}
      </button>
        <button
        ion-button
        icon-end
        bottom
        color="namoa-color"
        id="proximo"
        (click)="submitStep2()"
        outline
        class="submit-btn"
        type="button"
        [disabled]="tradesList.length == 0"
        >   {{ 'PRÓXIMO' | translate }}
          <ion-icon name="arrow-dropright"></ion-icon>
        </button>
        </ion-buttons>
    </div>
  </ion-content>
