page-plan-step2 {
    .submit-btn{
        margin-top: 20px;
        border-radius: 20px;
    }

    .item-inner {
        font-size: 0.9em;
        box-shadow: none !important;
    }

    .row{
        align-items: center;
        vertical-align: middle;
    }

    .trade-title{
      font-weight: 500;
    }

    .ion-item-trades{
      padding: 0px;
      margin: 0px;
    }

    .ion-grid{
      padding: 0px !important;
    }

    .label-md{
      margin: 0px;
    }

    .col{
      padding: 2px 0px 2px 0px;
    }

    .text-right{
      text-align: right;
    }

    .item-md.item-block .item-inner{
      padding-right: 0px;
    }

    .trash-icon{
        font-size: 14px;
        border-radius: 50px;
    }

}

.alert-ios .alert-radio-label{ white-space: inherit !important;}
.alert-md .alert-radio-label{ white-space: inherit !important;}
.alert-wp .alert-radio-label{ white-space: inherit !important;}
