<ion-header>

  <ion-navbar>
    <ion-title>{{ 'PERFIL DO USUÁRIO' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
	  <ion-label>{{ '1. FAIXA ETÁRIA:' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q1">
	    <ion-option value="1">{{ 'ATÉ 18 ANOS' | translate }}</ion-option>
	    <ion-option value="2">{{ 'ENTRE 18 E 20 ANOS' | translate }}</ion-option>
	    <ion-option value="3">{{ 'ENTRE 21 E 30 ANOS' | translate }}</ion-option>
	    <ion-option value="4">{{ 'ENTRE 31 E 40 ANOS' | translate }}</ion-option>
	    <ion-option value="5">{{ 'ENTRE 41 E 50 ANOS' | translate }}</ion-option>
	    <ion-option value="6">{{ 'ENTRE 51 E 60 ANOS' | translate }}</ion-option>
	    <ion-option value="7">{{ 'ENTRE 61 E 70 ANOS' | translate }}</ion-option>
	    <ion-option value="8">{{ 'ACIMA DE 70 ANOS' | translate }}</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '2. SEXO:' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q2">
	    <ion-option value="1">{{ 'FEMININO' | translate }}</ion-option>
	    <ion-option value="2">{{ 'MASCULINO' | translate }}</ion-option>
	    <ion-option value="3">{{ 'PREFIRO NÃO OPINAR' | translate }}</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '3. QUAL SERÁ A EXPECTATIVA QUANTO À MÉDIA DO ORÇAMENTO DIÁRIO POR PESSOA?' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q3">
	    <ion-option value="1">{{ 'ATÉ R$20/DIA' | translate }}</ion-option>
	    <ion-option value="2">{{ 'ATÉ R$50/DIA' | translate }}</ion-option>
	    <ion-option value="3">{{ 'ATÉ R$100/DIA' | translate }}</ion-option>
	    <ion-option value="4">{{ 'ATÉ R$500/DIA' | translate }}</ion-option>
	    <ion-option value="5">{{ 'ACIMA DE R$500/DIA' | translate }}</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '4. QUAL É A RENDA MENSAL FAMILIAR?' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q4">
	    <ion-option value="1">{{ 'ATÉ R$1.000,00/MÊS' | translate }}</ion-option>
	    <ion-option value="2">{{ 'ATÉ R$3.000,00/MÊS' | translate }}</ion-option>
	    <ion-option value="3">{{ 'ATÉ R$5.000,00/MÊS' | translate }}</ion-option>
	    <ion-option value="4">{{ 'ATÉ R$10.000,00/MÊS' | translate }}</ion-option>
	    <ion-option value="5">{{ 'ACIMA DE R$10.000,00/MÊS' | translate }}</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '5. HABILITAÇÃO LITERÁRIA' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q5">
	    <ion-option value="1">{{ 'ENSINO FUNDAMENTAL' | translate }}</ion-option>
	    <ion-option value="2">{{ 'ENSINO MÉDIO' | translate }}</ion-option>
	    <ion-option value="3">{{ 'ENSINO SUPERIOR INCOMPLETO' | translate }}</ion-option>
	    <ion-option value="4">{{ 'ENSINO SUPERIOR COMPLETO' | translate }}</ion-option>
	    <ion-option value="5">{{ 'PÓS GRADUAÇAO' | translate }}</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '6. QUANTO TEMPO COSTUMA DURAR AS SUAS FÉRIAS?' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q6">
	    <ion-option value="1">{{ 'INFERIOR A 3 DIAS' | translate }}</ion-option>
	    <ion-option value="2">{{ 'ENTRE 4 E 10 DIAS' | translate }}</ion-option>
	    <ion-option value="3">{{ '11 A 15 DIAS' | translate }}</ion-option>
	    <ion-option value="4">{{ 'SUPERIOR A 15 DIAS' | translate }}</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '7. COM QUEM COSTUMA PASSSAR AS FÉRIAS?' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q7">
	    <ion-option value="1">{{ 'COM AMIGOS' | translate }}</ion-option>
	    <ion-option value="2">{{ 'COM A FAMÍLIA' | translate }}</ion-option>
	    <ion-option value="3">{{ 'COM O CÔNJUJE/COMPANHEIRO(A)' | translate }}</ion-option>
	    <ion-option value="4">{{ 'COM O CÔNJUJE E OS FILHOS' | translate }}</ion-option>
	    <ion-option value="5">{{ 'SOZINHO' | translate }}</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '8. ATRAVÉS DE QUAL MEIO DE TRANSPORTE COSTUMA SE LOCOMOVER ATÉ O LOCAL?' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q8">
	    <ion-option value="1">{{ 'RODOVIÁRIO' | translate }}</ion-option>
	    <ion-option value="2">{{ 'FERROVIÁRIO' | translate }}</ion-option>
	    <ion-option value="3">{{ 'MARÍTIMO' | translate }}</ion-option>
	    <ion-option value="4">{{ 'AÉREO' | translate }}</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '9. QUAL TIPO DE TURISMO COSTUMA PREFERIR?' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q9">
	    <ion-option value="1">{{ 'SOL E MAR' | translate }}</ion-option>
	    <ion-option value="2">{{ 'NATUREZA' | translate }}</ion-option>
	    <ion-option value="3">{{ 'CULTURA' | translate }}</ion-option>
	    <ion-option value="4">{{ 'LGBT' | translate }}</ion-option>
	    <ion-option value="5">{{ 'RELIGIOSO' | translate }}</ion-option>
	    <ion-option value="6">{{ 'NEGÓCIOS' | translate }}</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '10. DURANTE AS FÉRIAS, ONDE CUSTUMA PERNOITAR?' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q10">
	    <ion-option value="1">{{ 'HOTEL' | translate }}</ion-option>
	    <ion-option value="2">{{ 'CASA DE AMIGOS' | translate }}</ion-option>
	    <ion-option value="3">{{ 'CASA ALUGADA' | translate }}</ion-option>
	    <ion-option value="4">{{ 'HOSTEL' | translate }}</ion-option>
	    <ion-option value="5">{{ 'ESPAÇOS DE TURISMO RURAL' | translate }}</ion-option>
	    <ion-option value="6">{{ 'RESIDENCIAIS' | translate }}</ion-option>
		<ion-option value="7">{{ 'PARQUES DE CAMPING' | translate }}</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '11. QUAIS FONTES DE INFORMAÇÃO SÃO CONSULTADAS PARA O PLANEJAMENTO DAS FÉRIAS?' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q11">
	    <ion-option value="1">{{ 'AMIGOS E FAMILIARES' | translate }}</ion-option>
	    <ion-option value="2">{{ 'GUIAS DE TURISMO' | translate }}</ion-option>
	    <ion-option value="3">{{ 'AGÊNCIAS DE VIAGEM' | translate }}</ion-option>
	    <ion-option value="4">{{ 'POSTOS DE INFORMAÇÃO' | translate }}</ion-option>
	    <ion-option value="5">{{ 'BLOGS/WEBSITES' | translate }}</ion-option>
	    <ion-option value="6">{{ 'LIVROS' | translate }}</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>
	  	{{ '12. POR FAVOR, AVALIE EM UMA ESCALA DE 1 (POUCO) A 5 (MUITO) O QUANTO VALORIZA O TRADE DE HOSPEDAGEM CONFORME CRITÉRIOS A SEGUIR' | translate }}
	  </ion-label>
	</ion-item>
	
	<ion-item class="margemEsquerda">
	  <ion-label>{{ '12.1 - QUALIDADE GERAL DO ALOJAMENTO' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_1">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '12.2 - PROFISSIONALISMO DOS COLABORADORES' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_2">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '12.3 - VIZINHANÇA' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_3">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '12.4 - ÁREAS COMUNS' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_4">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '12.5 - LIMPEZA' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_5">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '12.6 - INSTALAÇÕES E EQUIPAMENTOS' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_6">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '12.7 - RELAÇÃO CUSTO BENEFÍCIO' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_7">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>


	<ion-item>
	  <ion-label>
	  	{{ '13. POR FAVOR, AVALIE EM UMA ESCALA DE 1 (POUCO) A 5 (MUITO) O QUANTO VALORIZA O TRADE DE ALIMENTAÇÃO CONFORME CRITÉRIOS A SEGUIR' | translate }}
	  </ion-label>
	</ion-item>
	
	<ion-item class="margemEsquerda">
	  <ion-label>{{ '13.1 - QUALIDADE GERAL DO ALOJAMENTO' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_1">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '13.2 - PROFISSINALISMO DOS COLABORADORES' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_2">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '13.3 - VIZINHANÇA' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_3">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '13.4 - LIMPEZA GERAL' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_4">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '13.5 - LIMPEZA DOS BANHEIROS' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_5">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '13.6 - INSTALAÇÕES E EQUIPAMENTOS' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_6">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '13.7 - RELAÇÃO CUSTO BENEFÍCIO' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_7">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>
	  	{{ '14. POR FAVOR, AVALIE EM UMA ESCALA DE 1 (POUCO) A 5 (MUITO) O QUANTO VALORIZA AS ATRAÇÕES DA CIDADE CONFORME CRITÉRIOS A SEGUIR' | translate }}
	  </ion-label>
	</ion-item>
	
	<ion-item class="margemEsquerda">
	  <ion-label>{{ '14.1 - FORMAS DE ACESSO ÀS ATRAÇÕES' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q14_1">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '14.2 - SINALIZAÇÃO ATÉ AS ATRAÇÕES' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q14_2">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '14.3 - PATRIMÔNIO HISTÓRICO' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q14_3">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '14.4 - ATENDIMENTO NAS ATRAÇÕES' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q14_4">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>{{ '14.5 - SEGURANÇA NAS ATRAÇÕES' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q14_5">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '15. VOCÊ JÁ OUVIU FALAR DO CONCEITO ECONOMIA DA EXPERIÊNCIA?' | translate }}</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q15">
	    <ion-option value="1">{{ 'SIM E CONHEÇO BASTANTE' | translate }}</ion-option>
	    <ion-option value="2">{{ 'SIM, MAS CONHEÇO POUCO' | translate }}</ion-option>
	    <ion-option value="3">{{ 'PREFIRO NÃO OPINAR' | translate }}</ion-option>
	    <ion-option value="4">{{ 'NUNCA OUVI FALAR' | translate }}</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '16. CITE UMA CIDADE QUE GOSTOU DE VISITAR' | translate }}</ion-label>
	</ion-item>

	<ion-item class="margemEsquerda">
		<ion-label>{{ 'ESTADO' | translate }}</ion-label>
	  	<ion-select required (ionChange)="getCidades($event);">
	      <ion-option *ngFor="let e of estados" value="{{e.sigla_estado}}">
	          {{e.nome_estado}}
	      </ion-option>
	    </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
		<ion-label>{{ 'CIDADE' | translate }}</ion-label>
	    <ion-select required [(ngModel)]="formQuestionario.q16">
            <ion-option *ngFor="let c of cidades" value="{{c.nome_cidade}}">
              {{c.nome_cidade}}
            </ion-option>
         </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>{{ '17. CITE UM LOCAL QUE RECOMENDARIA O SERVIÇO' | translate }}</ion-label>
	</ion-item>

	<ion-item class="margemEsquerda">
        <ion-label>{{ 'TRADE' | translate }}</ion-label>
        <ion-select required [(ngModel)]="formQuestionario.q17">
      		<ion-option *ngFor="let t of trade" value="{{t.descricao}}">
        		{{t.descricao}}
      		</ion-option>
      </ion-select>
   	</ion-item>

  <ion-row>
    <ion-col>
    	<button ion-button class="submit-btn" block outline type="submit" 
    	(click)="responderQuestionario()">
    		{{ 'FINALIZAR QUESTIONÁRIO' | translate }}
    	</button>
    </ion-col>
  </ion-row>

</ion-content>