<ion-header>

  <ion-navbar>
    <ion-title>Perfil do Usuário</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <ion-item>
	  <ion-label>1. Faixa etária:</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q1">
	    <ion-option value="Até 18 anos">Até 18 anos</ion-option>
	    <ion-option value="Entre 18 e 20 anos">Entre 18 e 20 anos</ion-option>
	    <ion-option value="Entre 21 e 30 anos">Entre 21 e 30 anos</ion-option>
	    <ion-option value="Entre 31 e 40 anos">Entre 31 e 40 anos</ion-option>
	    <ion-option value="Entre 41 e 50 anos">Entre 41 e 50 anos</ion-option>
	    <ion-option value="Entre 51 e 60 anos">Entre 51 e 60 anos</ion-option>
	    <ion-option value="Entre 61 e 70 anos">Entre 61 e 70 anos</ion-option>
	    <ion-option value="Acima de 70 anos">Acima de 70 anos</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>2. Sexo:</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q2">
	    <ion-option value="Feminino">Feminino</ion-option>
	    <ion-option value="Masculino">Masculino</ion-option>
	    <ion-option value="Prefiro não informar">Prefiro não informar</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>3. Qual será a expectativa quanto à média do orçamento diário por pessoa?</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q3">
	    <ion-option value="Até R$20/dia">Até R$20/dia</ion-option>
	    <ion-option value="Até R$50/dia">Até R$50/dia</ion-option>
	    <ion-option value="Até R$100/dia">Até R$100/dia</ion-option>
	    <ion-option value="Até R$500/dia">Até R$500/dia</ion-option>
	    <ion-option value="Acima de R$500/dia">Acima de R$500/dia</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>4. Qual é a renda mensal familiar?</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q4">
	    <ion-option value="Até R$1.000,00/mês">Até R$1.000,00/mês</ion-option>
	    <ion-option value="Até R$3.000,00/mês">Até R$3.000,00/mês</ion-option>
	    <ion-option value="Até R$5.000,00/mês">Até R$5.000,00/mês</ion-option>
	    <ion-option value="Até R$10.000,00/mês">Até R$10.000,00/mês</ion-option>
	    <ion-option value="Acima de R$10.000,00/mês">Acima de R$10.000,00/mês</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>5. Habilitação literária:</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q5">
	    <ion-option value="Ensino Fundamental">Ensino Fundamental</ion-option>
	    <ion-option value="Ensino Médio">Ensino Médio</ion-option>
	    <ion-option value="Ensino Superior Incompleto">Ensino Superior Incompleto</ion-option>
	    <ion-option value="Ensino Superior Completo">Ensino Superior Completo</ion-option>
	    <ion-option value="Pós graduação">Pós graduação</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>6. Quando tempo costuma durar as suas férias?</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q6">
	    <ion-option value="Inferior a 3 dias">Inferior a 3 dias</ion-option>
	    <ion-option value="Entre 4 a 10 dias">Entre 4 a 10 dias</ion-option>
	    <ion-option value="11 a 15 dias">11 a 15 dias</ion-option>
	    <ion-option value="Superior a 15 dias">Superior a 15 dias</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>7. Com quem costuma passar as férias?</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q7">
	    <ion-option value="Com amigos">Com amigos</ion-option>
	    <ion-option value="Com a família">Com a família</ion-option>
	    <ion-option value="Com o cônjuge/companheiro(a)">Com o cônjuge/companheiro(a)</ion-option>
	    <ion-option value="Com o cônjuge e os filhos">Com o cônjuge e os filhos</ion-option>
	    <ion-option value="Sozinho">Sozinho</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>8. Através de qual meio de transporte costuma se locomover até o local?</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q8">
	    <ion-option value="Rodoviário">Rodoviário</ion-option>
	    <ion-option value="Ferroviário">Ferroviário</ion-option>
	    <ion-option value="Marítimo">Marítimo</ion-option>
	    <ion-option value="Aéreo">Aéreo</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>9. Qual tipo de turismo costuma preferir?</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q9">
	    <ion-option value="Sol e mar">Sol e mar</ion-option>
	    <ion-option value="Natureza">Natureza</ion-option>
	    <ion-option value="Cultura">Cultura</ion-option>
	    <ion-option value="LGBT">LGBT</ion-option>
	    <ion-option value="Religioso">Religioso</ion-option>
	    <ion-option value="Negócios">Negócios</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>10. Durante as férias, onde costuma pernoitar?</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q10">
	    <ion-option value="Hotel">Hotel</ion-option>
	    <ion-option value="Casa de amigos">Casa de amigos</ion-option>
	    <ion-option value="Casa alugada">Casa alugada</ion-option>
	    <ion-option value="Hostel">Hostel</ion-option>
	    <ion-option value="Espaços de turismo rural">Espaços de turismo rural</ion-option>
	    <ion-option value="Residenciais">Residenciais</ion-option>
		<ion-option value="Parques de camping">Parques de camping</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>11. Quais as fontes de informação são consultadas para o planejamento das férias?</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q11">
	    <ion-option value="Amigos e familiares">Amigos e familiares</ion-option>
	    <ion-option value="Guias de turismo">Guias de turismo</ion-option>
	    <ion-option value="Agências de viagem">Agências de viagem</ion-option>
	    <ion-option value="Postos de informação">Postos de informação</ion-option>
	    <ion-option value="Blogs/WebSites">Blogs/WebSites</ion-option>
	    <ion-option value="Livros">Livros</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>
	  	12. Por favor, avalie em uma escala de 1 (pouco) a 5 (muito) o quanto valoriza o trade de hospedagem conforme critérios a seguir
	  </ion-label>
	</ion-item>
	
	<ion-item class="margemEsquerda">
	  <ion-label>12.1 - Qualidade geral do alojamento</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_1">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>12.2 - Profissionalismo dos colaboradores</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_2">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>12.3 - Vizinhança</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_3">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>12.4 - Áreas comuns</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_4">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>12.5 - Limpeza</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_5">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>12.6 - Instalações e equipamentos</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_6">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>12.7 - Relação custo benefício</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q12_7">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>


	<ion-item>
	  <ion-label>
	  	13. Por favor, avalie em uma escala de 1 (pouco) a 5 (muito) o quanto valoriza o trade de alimentação conforme critérios a seguir
	  </ion-label>
	</ion-item>
	
	<ion-item class="margemEsquerda">
	  <ion-label>13.1 - Qualidade geral do alojamento</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_1">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>13.2 - Profissionalismo dos colaboradores</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_2">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>13.3 - Vizinhança</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_3">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>13.4 - Limpeza geral</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_4">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>13.5 - Limpeza dos banheiros</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_5">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>13.6 - Instalações e equipamentos</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_6">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>13.7 - Relação custo benefício</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q13_7">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>
	  	14. Por favor, avalie em uma escala de 1 (pouco) a 5 (muito) o quanto valoriza as atrações da cidade conforme critérios a seguir
	  </ion-label>
	</ion-item>
	
	<ion-item class="margemEsquerda">
	  <ion-label>14.1 - Formas de acesso às atrações</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q14_1">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>14.2 - Sinalização até as atrações</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q14_2">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>14.3 - Patrimônio histórico</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q14_3">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>14.4 - Atendimento nas atrações</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q14_4">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
	  <ion-label>14.5 - Segurança nas atrações</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q14_5">
	    <ion-option value="1">1</ion-option>
	    <ion-option value="2">2</ion-option>
	    <ion-option value="3">3</ion-option>
	    <ion-option value="4">4</ion-option>
	    <ion-option value="5">5</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>15. Você já ouviu falar do conceito Economia da Experiência?</ion-label>
	  <ion-select required  [(ngModel)]="formQuestionario.q15">
	    <ion-option value="Sim e conheço bastante sobre o assunto">Sim e conheço bastante sobre o assunto</ion-option>
	    <ion-option value="Sim, mas conheço pouco sobre o assunto">Sim, mas conheço pouco sobre o assunto</ion-option>
	    <ion-option value="Prefiro não opinar">Prefiro não opinar</ion-option>
	    <ion-option value="Nunca ouvi falar">Nunca ouvi falar</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>16. Cite uma cidade que gostou de visitar</ion-label>
	</ion-item>

	<ion-item class="margemEsquerda">
		<ion-label>Estado</ion-label>
	  	<ion-select required (ionChange)="getCidades($event);">
	      <ion-option *ngFor="let e of estados" value="{{e.sigla_estado}}">
	          {{e.nome_estado}}
	      </ion-option>
	    </ion-select>
	</ion-item>

	<ion-item class="margemEsquerda">
		<ion-label>Cidade</ion-label>
	    <ion-select required [(ngModel)]="formQuestionario.q16">
            <ion-option *ngFor="let c of cidades" value="{{c.nome_cidade}}">
              {{c.nome_cidade}}
            </ion-option>
         </ion-select>
	</ion-item>

	<ion-item>
	  <ion-label>17. Cite um local que recomendaria o serviço</ion-label>
	</ion-item>

	<ion-item class="margemEsquerda">
        <ion-label>Trade</ion-label>
        <ion-select required [(ngModel)]="formQuestionario.q17">
      		<ion-option *ngFor="let t of trade" value="{{t.descricao}}">
        		{{t.descricao}}
      		</ion-option>
      </ion-select>
   	</ion-item>

  <ion-row>
    <ion-col>
    	<button ion-button class="submit-btn" block outline type="submit" 
    	(click)="responderQuestionario()">
    		Finalizar Questionário
    	</button>
    </ion-col>
  </ion-row>

</ion-content>