// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu-items{
    background-color: #51647F;
    color:#fff;
}

.hello-user{
    font-size: 110% !important;
    color:#fff !important;
}

.item-title{
  vertical-align: middle;
}

.logo-namoa{
    width: 30%;
    height: 30%;
    margin: auto;
}

.menuIdioma .SelectLanguage{
	width:70%;
	background-color: #51647F;
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
    margin-left:20%;
}

.menuIdioma .flagLanguage{
    float:left;
    width:25%;
    background-color: #51647F;
    bottom: 0;
    position: absolute;
    margin-bottom: 10px;
    z-index:9999;
}

.loginIdioma .SelectLanguage{
    width:60%;
    background-color: #51647F;
    position: absolute;
    margin-left:30%;
    height: 46px;
}

.loginIdioma .flagLanguage{
    float:left;
    width:30%;
    background-color: #51647F;
    position: absolute;
    z-index:9999;
    height: 46px;
}

.SelectLanguage .item-inner, .flagLanguage .item-inner{
	border-bottom:none !important;
}

.SelectLanguage ion-select{
    width: 70%;
    max-width: 70%;
}

.flagLanguage img{
	float:right;
}

.flagLanguage .label, .flagLanguage .label-ios, .flagLanguage .label-md{
	margin:0px;
}


.menuIdioma .SelectLanguage .select-placeholder, .menuIdioma .SelectLanguage ion-select, .menuIdioma .SelectLanguage ion-select placeholder{
	color: #FFFFFF;
	font-size: 18px;
}

.loginIdioma .SelectLanguage, .loginIdioma .flagLanguage{
	background-color: rgba(0,0,0,0.5) !important;
}

.loginIdioma .SelectLanguage .select-placeholder, .loginIdioma .SelectLanguage ion-select, .loginIdioma .SelectLanguage ion-select placeholder{
	color: #FFFFFF;
	font-size: 18px;
}

.login-content .logo-row{
    margin-top:20%;
}

ion-app.platform-ios12 ion-content { 
    pointer-events: auto; 
}

