<!--
  Generated template for the PlanStep2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>PlanStep2</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <h4>Plano</h4>
    <form 
    (ngSubmit)="addTrade()" 
    [formGroup]="step2Form">
    <ion-item-group inset>
      <ion-item>
        <ion-label>Data de Início</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" 
        [min]="minDate"
        [max]="tp.endDateTrip"
        (ionChange)="dtInicioChange()"
        formControlName="startDateTrader"
        required
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Data Final</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" 
        [min]="minEndDate"
        [max]="tp.endDateTrip"
        formControlName="endDateTrader"
        required
        [disabled]="!step2Form.get('startDateTrader').value"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Cidade</ion-label>
        <ion-select
        formControlName="city">
        <ion-option
        *ngFor="let c of cidades"
        value="{{c.descricao}}"
        required>
          {{c.descricao}}
        </ion-option>
        </ion-select>
      </ion-item>
        <ion-item>
            <ion-label>Tipo de Categoria</ion-label>
            <ion-select
            formControlName="categoryType"
            id="tpCategoria"
            name="tpCategoria">
            <ion-option
            *ngFor="let t of tpCategoria"
            value="{{t.descricao}}"
            required>
              {{t.descricao}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
          <ion-label>Categoria</ion-label>
          <ion-select
          formControlName="category"
        id="categoria"
        name="categoria">
        <ion-option
        *ngFor="let c of categoria"
        value="{{c.descricao}}"
        required>
          {{c.descricao}}
        </ion-option>
        </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Trade</ion-label>
            <ion-select
            formControlName="trade"
          id="trade"
          name="trade"
          required>
          <ion-option
          *ngFor="let t of trade"
          value="{{t.descricao}}"
          required>
            {{t.descricao}}
          </ion-option>
          </ion-select>
          </ion-item>
          <button 
          ion-button 
          id="addTrade"
          type="submit" 
          class="submit-btn"
          bottom
          outline
          end
          icon-start
          [disabled]="!step2Form.valid"
          > 
          <ion-icon name="add-circle"></ion-icon>
          Adicionar Trade
        </button>
      </ion-item-group>
    </form>
  <hr>
    <h4>Trades</h4>
    <ng-template [ngIf]="tp.trades.length > 0">
      <ion-item
      *ngFor="let item of tp.trades; let i = index" 
      [attr.data-index]="i"
      >
        <ion-label>
          <ion-grid>
            <ion-row>
              <ion-col col-10>
                <h4>{{item.trade}}</h4>
              </ion-col>
              <ion-col col-2>
                  <button 
                  ion-button 
                  outline 
                  color="danger" 
                  small
                  class="trash-icon">
                    <ion-icon 
                    name="trash"
                    (click)="removeTrade($event, i)"></ion-icon>
                  </button>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-md-6>
                <p>{{item.category}}</p>
              </ion-col>
              <ion-col col-md-6>
                <p>De {{item.startDateTrader | date:'dd/MM'}} até {{item.endDateTrader | date:'dd/MM'}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
      </ion-item>
      <ion-buttons end>
        <button 
        ion-button 
        icon-end 
        bottom
        id="proximo"
        (click)="submitStep2()"
        outline
        class="submit-btn"
        type="button"
        > Próximo
          <ion-icon name="arrow-dropright"></ion-icon>
        </button>
        </ion-buttons>
    </ng-template>
      <ng-template #noTrades [ngIf]="tp.trades.length == 0">
          <p>Sem trades cadastrados.</p>
      </ng-template>
  </ion-content>
  