s<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      <img src="assets/imgs/logo.png" class="logo"/>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <h4>Meus Planos</h4>
    <button 
    ion-button 
    outline
    class="btn-new-plan"
    (click)="newTravelPlan()" 
    block >
      Criar Novo Plano
    </button>       
    <ng-template [ngIf]="travelPlans">     
      <ion-card 
      *ngFor="let tp of travelPlans" text-wrap>
      <ion-card-header class="card-header">
        Plano {{tp.title}}
      </ion-card-header>
      <ion-card-content>
          <p>Período da viagem: {{tp.startDateTrip | date:'dd/MM'}} a {{tp.endDateTrip | date:'dd/MM'}}</p>
          <p>Trades:</p>
        <ion-item *ngFor="let t of tp.trades">
          <ion-grid no-padding>
            <ion-row>
              <ion-col col-8>
                <p>{{t.category}}</p>
              </ion-col>
              <ion-col col-4>
                <p>{{t.startDateTrader | date:'dd/MM'}} - {{t.endDateTrader | date:'dd/MM'}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-card-content>
      </ion-card>
    </ng-template>
    <ng-template [ngIf]="!travelPlans">
      <p>Sem planos cadastrados.</p>
    </ng-template>
</ion-content>
